.not-found-screen {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    padding: 200px 50px;
}

.not-found-screen__title {
    font-size: 32px;
}

.not-found-screen__link {
    color: #63D1BB;
}