.footer {
    background-color: #F1F1F1;
    padding: 50px 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.footer__link {
    color: #000000;

    &:hover {
        color: #63d1bb;
    }

    &--secondary:hover {
        color: #e8a81d;
    }
}
