.wrapper {
    max-width: 290px;
    padding: 0 15px;
    margin: 0 auto;

    @media (min-width: 768px) {
        max-width: 698px;
        padding: 0 50px;
    }

    @media (min-width: 1440px) {
        max-width: 1220px;
        padding: 0 110px;
    }

    @media (min-width: 1920px) {
        max-width: 1620px;
        padding: 0 150px;
    }
}